<div class="container-fluid containerFl">
  <div class="row">
      <div class="col-md-12 text-center">
          <p class="title">Enter the place to see a forecast weather</p>
          <form>
            <div class="search">
              <input id="searchCity" name="city" placeholder="City...">
                <input id="searchDays" name="days" placeholder="Days(min: 1, max: 16)">
              <button id="btn" class="btn btn-primary btn-search">Search</button>
            </div>
          </form>
      </div>
  </div>  

  <div class="row">
      <div class="col-md-12 text-center firstGr">
          <div class="iconAndDesc">
              <div class="icon">
                  <h3 class="foreDay">Friday</h3>
                  <img src="02d.png" alt=" ">
              </div>
              <div class="descriptionMain">
                  <div class="bigCity">
                      <p>Barcelona</p>
                      <p>&nbsp;ES</p>
                  </div>
                  <div class="descTemp">
                      <h2 class="descriptionTemp">24 &deg;C</h2>
                      <h4 class="descriptionTempNight">16 &deg;C</h4>
                  </div>
                      <h4 class="descriptionWeather">partly cloudly shower rain</h4>
                      <h4 class="descriptionWind">4.67 m/s</h4>
              </div>
          </div>   
      </div>
  </div>  
  <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
          <div class="foreDays">
              <div class="row">
                  <div class="col-md-3">
                      <h3 class="foreDay">Friday</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="02d.png" alt=" ">
                  </div>
                  <div class="col-md-3">
                      <div class="descTemp">
                          <h2 class="descriptionTemp">24 &deg;C</h2>
                          <h4 class="descriptionTempNight">16 &deg;C</h4>
                      </div>  
                  </div>
                  <div class="col-md-3">
                      <h4 class="descriptionWeather">partly cloudly shower rain</h4>
                      <h4 class="descriptionWind">4.67 m/s</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>