<div class="container-fluid contMain">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="bigCity">
                    <p>{{myWeather.cityName}}</p>
                    <p> , {{myWeather.country}}</p>
                </div>
                <div class="iconAndDesc">
                    <div class="icon">
                        <img src="http://weather.omgez911.com/icons/{{myWeather.img}}.png" alt="icon">
                    </div>
                    <div class="descriptionMain">
                        <p class="descriptionWeather">{{myWeather.description}}</p>
                        <p class="descriptionTemp">{{myWeather.temp}} &deg;C</p>
                    </div>
                </div>   
            </div>
            <div class="col-md-12 text-center backGr">
                <div class="AnotherFeature">
                    <span class="AnotherTable">Humidity: {{myWeather.humidity}} %</span>
                    <span class="AnotherTable">Pressure: {{myWeather.pressure}} hPa</span>
                    <span class="AnotherTable">Wind speed: {{myWeather.wspeed}} m/s</span>
                    <span class="AnotherTable">Min. Temp. at the moment: {{myWeather.minTemp}} &deg;C</span>
                    <span class="AnotherTable">Max. Temp. at the moment: {{myWeather.maxTemp}} &deg;C</span>
                    <span class="AnotherTable">Cloudiness: {{myWeather.cloud}} %</span>
                </div>
            </div>
        </div>  
    </div>