.contMain {
    background-color: #FE7622;
    color: #fff;
}
.bigCity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px; 
    margin: 20px auto 0;
    font-weight: bold;
}
.AnotherFeature {
    font-size: 18px;
    width: 30%;
    padding: 30px 0;
}
.AnotherTable {
    display: flex;
    justify-content: flex-start;
    background: #EFE5E5;
    color: #0C0D0F;
    border-bottom: 1px solid #435B8C;
    padding: 5px 40px;
}
.descriptionMain .descriptionWeather {
    font-size: 30px;
}
.descriptionMain .descriptionTemp {
    font-size: 40px;
    font-weight: bold;
}
.backGr {
   background-color: #FFA64C;
   border-top: 2px solid #fff;
   display: flex;
   justify-content: center;
}





@media (max-width: 600px) { 
    .icon img {
        width: 50%;
        height: 50%;
    }
    .AnotherFeature {
        width: 80%;
    }
}


@media (min-width: 601px) and (max-width: 1300px) {
    .AnotherFeature {
        width: 70%;
    }
}