.containerFl {
    color: #ffffff;
    background-color: #0195F9;
}
#searchCity {
    color: #000000;
    width: 220px;
    height: 40px;
    padding-left: 10px;
}
.icon {
    width: 150px;
    height: 100x;
    padding-left: 20px; 
}
.icon img {
    width: 100%;
}
.AnotherFeature {
    font-size: 18px;
    padding: 30px 0;
}
.AnotherTable {
    display: flex;
    justify-content: center;
}
.firstGr {
    margin-bottom: 40px;
}
.backGr {
    background: #49BCFF;
}
.iconAndDesc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.bigCity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 42px;
}
.search {
    margin: 60px auto 50px;
    border: none;
    border-color: #fff;
}
.btn-search {
    background: green;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 19px;
    font-weight: bold;
}
.descriptionMain .descriptionWeather {
    font-size: 32px;
}
.descriptionMain .descriptionTemp {
    font-size: 50px;
}




media (max-width: 600px) {
    
}