<nav class="cf">
    <ul class="cf">
        <li><a class="header"[routerLink]="['/']">See Forecast Weather</a></li>
        <li><a class="header" [routerLink]="['item-weather']">See Weather for any location</a></li>
        <li><a class="header"[routerLink]="['weather-location']">See Weather for current location</a></li>
    </ul>
        <a href="#" id="openup"></a>
</nav>
<router-outlet></router-outlet>
<!--<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <!--<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <a class="header" [routerLink]="['/']">See Weather for any location</a>
            </li>
            <li>
                <!--<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>-->
                <!--<a class="header"[routerLink]="['weather-forecast']">See Forecast Weather</a>
            </li>
            <li>
                <!--<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <a class="header"[routerLink]="['weather-location']">See Weather for your current location</a>
            </li>
        </ul> 
    </div>
</div>-->



